:root {
  --accent: 176, 50%, 47%;
  --accent-dark: 176, 72%, 28%;
  --black: 0, 0%, 0%;
  --dark-gray: 0, 0%, 48%;
  --white: 0, 0%, 100%;

  --min-margin: 1rem;
  --max-width: 70rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Commissioner', system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(var(--dark-gray), 0.05);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  --max-width: 70rem;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
