---
import DesktopNav from '../desktop-nav.astro'
import MobileNav from '../mobile-nav.astro'
---

<header
  class='container flex items-center justify-between px-6 py-8 text-white'
>
  <a href='/' class='z-10'>
    <img id='logo-header' src='./images/logo.svg' alt='crowdfund' />
  </a>
  <MobileNav />
  <DesktopNav />
</header>
