<header class='primary-header'>
  <a href='/'>
    <img id='logo-header' src='./images/logo.svg' alt='crowdfund' />
  </a>
  <nav class='primary-nav'>
    <ul
      role='list'
      class='nav__list'
      id='primary-navigation'
      aria-label='primary'
    >
      <li class='nav__item'><a href='#' class='nav__link'>About</a></li>
      <li class='nav__item'><a href='#' class='nav__link'>Discover</a></li>
      <li class='nav__item'>
        <a href='#' class='nav__link'>Get Started</a>
      </li>
    </ul>
  </nav>
</header>
