---
import Layout from '../layouts/Layout.astro';

const bgImageSrc = {
  mobile: "url('/images/image-hero-mobile.jpg')",
  desktop: "url('/images/image-hero-desktop.jpg')",
};
---

<Layout
  title='Frontend Mentor | Crowdfunding product page'
  bgImageSrc={bgImageSrc}
>
  <h1>Mastercraft Bamboo Monitor Riser</h1>
</Layout>

<style></style>
