---
import RootLayout from '@/layouts/root.astro'
import { Button } from '@/ui/button'
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from '@/ui/card'
---

<RootLayout>
  <Card>
    <CardHeader className='text-center'>
      <CardTitle>Mastercraft Bamboo Monitor Riser</CardTitle>
      <CardDescription>
        A beautiful & handcrafted monitor stand to reduce neck and eye strain.
      </CardDescription>
    </CardHeader>
    <CardFooter className='justify-between mt-5'>
      <Button>Back this project</Button>
      <Button>Bookmark</Button>
    </CardFooter>
  </Card>
</RootLayout>
