---
interface Props {
  logoSrc: string;
  logoAlt: string;
}
const { logoSrc, logoAlt } = Astro.props;
---

<header class='primary-header'>
  <div class='container header-container'>
    <div class='nav-wrapper'>
      <a href='/' class='logo'>
        <img src={logoSrc} alt={logoAlt} />
      </a>
      <button
        class='nav-toggle'
        aria-controls='primary-navigation'
        aria-expanded='false'
      >
        <img
          src='/images/icon-hamburger.svg'
          alt=''
          class='menu'
          aria-hidden='true'
        />
        <img
          src='/images/icon-close-menu.svg'
          alt=''
          class='close'
          aria-hidden='true'
        />
        <span class='sr-only'>menu</span>
      </button>
      <nav class='nav' id='primary-navigation'>
        <ul class='nav__list'>
          <slot />
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  const header = document.querySelector('.primary-header');
  const nav = document.querySelector('.nav');
  const navToggle = document.querySelector('.nav-toggle');

  navToggle?.addEventListener('click', () => {
    nav?.hasAttribute('data-visible')
      ? navToggle.setAttribute('aria-expanded', 'false')
      : navToggle.setAttribute('aria-expanded', 'true');
    nav?.toggleAttribute('data-visible');
    header?.toggleAttribute('data-overlay');
  });
</script>

<style>
  .header-container {
    --max-width: 70rem;
  }

  .primary-header {
    padding-block: 2em;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .primary-header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: linear-gradient(
      hsla(var(--black), 0.4),
      hsla(var(--black), 0.1)
    );
  }

  .primary-header[data-overlay] * {
    z-index: 2;
  }

  .close {
    display: none;
  }

  .nav[data-visible] {
    display: block;
  }

  .nav-toggle {
    border: 0;
    background-color: transparent;
  }

  .nav-toggle[aria-expanded='true'] .close {
    display: inline;
  }

  .nav-toggle[aria-expanded='true'] .menu {
    display: none;
  }

  @media (max-width: 999.999px) {
    .nav {
      display: none;

      position: fixed;
      inset: 5em var(--container-padding) auto;
      background-color: hsl(var(--white));
      border-radius: 1em;
      overflow: hidden;
      max-width: 25em;
      margin-inline: auto;
    }
  }

  @media (min-width: 1000px) {
    .primary-header {
      padding-block: 4em;
    }

    .nav-toggle {
      display: none;
    }

    .nav__list {
      display: flex;
      gap: 3em;
    }
  }
</style>
