---
interface Props {
  class?: string;
}

const { class: className = undefined } = Astro.props;
---

<div class={`card ${className}`}>
  <slot />
</div>

<style>
  .card {
    background-color: hsl(var(--white));
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    position: relative;
  }

  @media (min-width: 62.5rem) {
    .card {
      padding: 3rem;
    }
  }
</style>
