<nav class='hidden md:flex'>
  <ul
    role='list'
    class='nav__list'
    id='primary-navigation'
    aria-label='primary'
  >
    <li class='nav__item'><a href='#' class='nav__link'>About</a></li>
    <li class='nav__item'><a href='#' class='nav__link'>Discover</a></li>
    <li class='nav__item'>
      <a href='#' class='nav__link'>Get Started</a>
    </li>
  </ul>
</nav>
