---

---

<div class='md:hidden'>
  <button
    class='mobile-nav-toggle'
    aria-controls='primary-navigation'
    aria-expanded='false'
  >
    <img
      class='icon-hamburger'
      src='./images/icon-hamburger.svg'
      alt=''
      aria-hidden='true'
    />
    <img
      class='icon-close-menu'
      src='./images/icon-close-menu.svg'
      alt=''
      aria-hidden='true'
      hidden
    />
    <span class='sr-only'>Menu</span>
  </button>
  <nav class='primary-nav'>
    <ul
      role='list'
      class='nav__list'
      id='primary-navigation'
      aria-label='primary'
    >
      <li class='nav__item'><a href='#' class='nav__link'>About</a></li>
      <li class='nav__item'><a href='#' class='nav__link'>Discover</a></li>
      <li class='nav__item'>
        <a href='#' class='nav__link'>Get StartXd</a>
      </li>
    </ul>
  </nav>
</div>
