---
import Header from '../components/Header.astro';
import '../styles/global.css';

type Image = {
  mobile: string;
  desktop: string;
};
interface Props {
  title: string;
  bgImageSrc: Image;
}

const { title, bgImageSrc } = Astro.props;
const { mobile, desktop } = bgImageSrc;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/png' href='/favicon-32x32.png' />
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style define:vars={{ mobile, desktop }}>
  body {
    background-image: var(--mobile);
  }

  @media (min-width: 62.5rem) {
    body {
      background-image: var(--desktop);
    }
  }
</style>
