---
import Header from '@/components/layout/header.astro'
import '@/styles/globals.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./favicon-32x32.png'
    />
    <title>Frontend Mentor | Crowdfunding product page</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body class=''>
    <Header />
    <main class='max-w-3xl px-6 mx-auto mt-60 md:mt-80'>
      <slot />
    </main>
  </body>
</html>
